label {
  color: rgb(94, 104, 122);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 70%;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 3px;
}
label:hover {
  background-color: rgb(217, 220, 226);
}

.form_input {
  height: 50px;
  display: inline-block;
  max-width: 95%;
  outline: none;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid gray;
  max-height: 90px;
  min-width: 80%;
  padding: 5px;
}
.btn {
  padding: 5px 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
.form_add {
  background-color: rgb(90, 172, 68);
  color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 8px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.form_add:hover {
  background-color: rgb(44, 165, 10);
}
